# dependencies
node_modules/

# next.js build
.next/
out/

# env files
.env
.env.local
.env.*.local

# prisma local db
prisma/dev.db
prisma/dev.db-journal

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# claude
.claude/
